<module>
	<rawname>miscapps</rawname>
	<name>Misc Applications</name>
	<version>0.1.1</version>
	<type>setup</type>
	<category>Internal Options &amp; Configuration</category>
	<menuitems>
		<miscapps>Misc Applications</miscapps>
	</menuitems>
	<changelog>
		*0.1.1* Fixed publish location for trunk/2.3 repository
	</changelog>
	<location>release/2.3/miscapps-0.1.1.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Announcement</info>
	<md5sum>bf1d8369becebbfef2d6b502c5a385c3</md5sum>
</module>
