<module>
	<rawname>miscapps</rawname>
	<repo>extended</repo>
	<name>Misc Applications</name>
	<version>2.9.0.2</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<category>Apps</category>
	<description>
		Adds the ability to create feature codes that can go to any FreePBX destination (such as an IVR or queue)
	</description>
	<menuitems>
		<miscapps>Misc Applications</miscapps>
	</menuitems>
	<changelog>
		*2.9.0.2* #4831
		*2.9.0.1* set repository
		*2.9.0.0* #4651, #4655, #4724
	</changelog>
	<depends>
		<version>2.4.0</version>
	</depends>
	<location>release/2.9/miscapps-2.9.0.2.tgz</location>
	<md5sum>b79647808469b4769a54c481e7ccab1f</md5sum>
</module>
